<div class="wrap">
    <nav>
        <ul class="menu">
            <li>
                <a ui-sref="menu"><span class="glyphicon glyphicon-home"></span> Начало</a>
            </li>
            <li>
                <a ui-sref="admin.verifyusers"><span class="glyphicon glyphicon-user"></span> Одобри Юзери</a>
            </li>
            <li>
                <a ui-sref="admin.manageusers">
                    <span class="glyphicon glyphicon-user"></span> Управлявай Юзери
                </a>
            </li>
            <li>
                <a ui-sref="admin.news"><span class="glyphicon glyphicon-list-alt"></span> Новини</a>
            </li>
            <li>
                <a ui-sref="admin.causes"><span class="glyphicon glyphicon-euro"></span> Благотворителност</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </nav>
    <div class="site-content">
        <div ui-view class="row"></div>
    </div>
    <hr />
</div>