<h2>Благотворителни Каузи</h2>

<table class="table table-striped table-condensed" ng-if="totalCount > 0">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Новина</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" style="cursor:pointer" ng-click="selectItem(item)">
            <td class="dateCell">
                <div class="dateHolder">
                    {{item.dateCreated | date : 'dd/MM/yyyy'}}
                </div>
            </td>
            <td>
                <h4>
                    {{item.heading}}
                </h4>
                <div ng-if="item.selected && item.body">
                    <div ng-bind-html="item.body"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="totalCount==0">
    <span>Няма резултати</span>
</div>
<div ng-if="totalCount > 0"
     custom-pager kind="kind"
     items="items"
     params="params"
     total-count="totalCount"
     current-selected-page="currentSelectedPage">
</div>
