<table ng-if="items.length > 0" class="table table-striped table-condensed" style="margin-top:20px">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Обява</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" style="cursor:pointer">
            <td class="dateCell">
                <div class="dateHolder">
                    {{item.dateCreated | date : 'dd/MM/yyyy'}}
                </div>
            </td>
            <td ng-click="selectItem(item)" class="all-listings-body-holder">
                <h4>
                    {{item.heading}}
                </h4>
                <div ng-if="item.selected && (item.body || item.attachments)">
                    <div ng-bind-html="item.body"></div>
                    <hr ng-if="item.attachments.length > 0" />
                    <div ng-repeat="item in item.attachments">
                        <a ng-click="downloadFile(item.tempKey)">{{item.name}}</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="totalCount==0">
    <span>Няма резултати</span>
</div>
<div ng-if="totalCount > 0"
     custom-pager kind="kind"
     items="items"
     params="params"
     total-count="totalCount"
     current-selected-page="currentSelectedPage">
</div>