
<form class="form-horizontal col-sm-12" name="changePasswordForm">
    <p>Трябва да въведете и сегашната си парола заради съображения за сигурност.</p>
    <div class="form-group">
        <label for="currentpassword" class="col-sm-4 control-label">Стара парола</label>
        <div class="col-sm-4">
            <input ng-model="currentpassword" name="currentpassword" type="password" class="form-control" required/>
            <span class="comment-alert comment-arrow" ng-if="trySentInvalidForm && changePasswordForm.currentpassword.$error.required">
                Задължително поле
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword" class="col-sm-4 control-label">Нова парола</label>
        <div class="col-sm-4">
            <input ng-model="newpassword" name="newpassword" type="password" class="form-control" required/>
            <span class="comment-alert comment-arrow" ng-if="trySentInvalidForm && changePasswordForm.newpassword.$error.required">
                Задължително поле
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword" class="col-sm-4 control-label">Потвърди новата парола</label>
        <div class="col-sm-4">
            <input ng-model="confirmpassword" name="confirmpassword" type="password" class="form-control" required/>
            <span class="comment-alert comment-arrow" ng-if="trySentInvalidForm && changePasswordForm.confirmpassword.$error.match">
                Паролите не съвпадат
            </span>
            <span class="comment-alert comment-arrow" ng-if="trySentInvalidForm && changePasswordForm.confirmpassword.$error.required">
                Задължително поле
            </span>
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-10" style="margin-bottom: 17px;">
        <button type="submit" ng-click="send()" class="btn btn-primary">Изпрати</button>
    </div>
</form>
