<form name="studentSearchForm" novalidate>
    <h2>Въведете име</h2>
    <div class="form-group">
        <div class="col-sm-12">
            <p>Може да въведете пълното име или което и да е от 3-те имена. Търсенето не взима предвид малки и големи букви.</p>
        </div>
        <div class="col-sm-12">
            <label for="searchUserName" class="control-label col-sm-1">Име: </label>
            <input type="text" ng-model="name" name="studentName" id="searchUserName" ng-required="true" />
            <span class="comment-alert comment-arrow" ng-if="trySentInvalidForm && studentSearchForm.studentName.$error.required">
                Полето е задължително
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" class="btn btn-sm btn-primary" ng-click="getUsers()" value="Търси" />
        </div>
    </div>
</form>

<div ng-if="students.length>0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Първо Име</th>
                <th>Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students | orderBy : firstName" ng-click="selectUser(student.id)" style="cursor:pointer">
                <td ng-bind-html="student.firstName"></td>
                <td ng-bind-html="student.lastName"></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="students.length==0">
    <label class="control-label">Няма резултати</label>
</div>
