<div class="header-image-holder">

</div>
<div ng-controller="headerController">
    <div class="menu">
        <div class="menu-holder">
            <div class="menu-nav-header">
                <a ui-sref="menu">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
            </div>
            <nav class="menu-nav">
                <ul class="menu-items">
                    <li ng-repeat="item in menuItems">
                        <a ui-sref="{{item.state}}">{{item.name}}</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <ul ng-if="!isLoggedIn()" class="account-menu">
        <li><a ui-sref="menu.login">Вход &nbsp; /</a></li>
        <li><a ui-sref="menu.register">&nbsp; Регистрация</a></li>
    </ul>
    <ul ng-if="isLoggedIn()" class="account-menu">
        <li><a ui-sref="menu.account">Моят Акаунт &nbsp; /</a></li>
        <li><a ng-click="logout()">&nbsp; Изход</a></li>
    </ul>
</div>
<div class="site-content">
    <div ng-if="$state.is('menu')">
        Добре дошли в сайта на СМГ Алумни Мрежа!
        Целта на този сайт е да събере всички завършили възпитаници на СМГ
        на едно място, за да
        <ul>
            <li>
                поддържат връзка
            </li>
            <li>
                се информират за СМГ
            </li>
            <li>
                си помагат един на друг
            </li>
            <li>
                помагат на училището
            </li>
        </ul>
        <br />
        <br />
        Сайтът се разработва pro bono и е open source - може да видите Github адреса във footer-a. Ако искате
        и можете да допринесете, не се колебайте да го направите.
    </div>
    <div ui-view class="row">
    </div>
</div>