<div class="wrap">
    <nav>
        <ul class="menu">
            <li>
                <a href="#"><span class="glyphicon glyphicon-home"></span> СМГ Алумни</a>
                <ul>
                    <li><a ui-sref="menu">Начало</a></li>
                    <li><a href="#">История</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span> Акаунт</a>
            </li>
            <li>
                <a ui-sref="menu.news"><span class="glyphicon glyphicon-list-alt"></span> Новини</a>
            </li>
            <li>
                <a ui-sref="menu.causes"><span class="glyphicon glyphicon-euro"></span> Благотворителност</a>
            </li>
            <li>
                <a ui-sref="menu.listings">
                    <span class="glyphicon glyphicon-euro"></span> Обяви
                </a>
            </li>
            <li>
                <a ui-sref="menu.search"><span class="glyphicon glyphicon-search"></span> Търсене</a>
                <!--<ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Directions</a></li>
                </ul>-->
            </li>
            <li>
                <a ui-sref="menu.forum"><span class="glyphicon glyphicon-comment"></span> Форум</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </nav>
    <div ng-if="$state.is('menu')" class="welcome-screen">
        Добре дошли в сайта на СМГ Алумни Мрежа!
        Целта на този сайт е да събере всички завършили възпитаници на СМГ
        на едно място, за да
        <ul>
            <li>
                поддържат връзка
            </li>
            <li>
                се информират за СМГ
            </li>
            <li>
                си помагат един друг
            </li>
            <li>
                помагат на училището
            </li>
        </ul>
        <br />
        В секция Новини ще намерите актуални новини за СМГ. В каузи ще публикуваме кампании за набиране
        на средства както за училището, така и за настоящи ученици. В Обяви може да публикувате обяви един към друг. Търсене ще дава достъп до профилите
        на други регистрирани потребители. Очаквайте скоро и форум.
        <br />
        <br />
        Сайтът се разработва pro bono и е open source - може да видите адреса във footer-a. Ако искате
        и можете да допринесете, не се колебайте да го направите.
    </div>
    <div class="site-content">
        <div ui-view class="row"></div>
    </div>
    <hr/>
</div>