<div class="wrap">
    <nav>
        <ul class="menu">
            <li>
                <a ui-sref="masteradmin.settings"><span class="glyphicon glyphicon-cog"></span> Настройки</a>
            </li>
            <li>
                <a ui-sref="masteradmin.manageroles"><span class="glyphicon glyphicon-user"></span>Управлявай Роли</a>
            </li>
           
        </ul>
        <div class="clearfix"></div>
    </nav>
    <div class="site-content">
        <div ui-view class="row"></div>
    </div>
    <hr />
</div>