<h2>Визитка</h2>
<div class="row" style="margin-left: 5px;">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Потребителско Име: &nbsp;</label>{{selectedUser.userName}}
        </div>
        <div class="form-group">
            <label class="control-label">E-mail:&nbsp;</label>{{selectedUser.email}}
        </div>
        <div class="form-group">
            <label class="control-label">Година На Завършване: &nbsp;</label>{{selectedUser.yearOfGraduation}}
        </div>
        <div class="form-group">
            <label class="control-label">Паралелка: &nbsp;</label>{{selectedUser.division}}
        </div>
        <div class="form-group">
            <label class="control-label">Първо Име: &nbsp;</label>{{selectedUser.firstName}}
        </div>
        <div class="form-group">
            <label class="control-label">Средно Име: &nbsp;</label>{{selectedUser.middleName}}
        </div>
        <div class="form-group">
            <label class="control-label">Фамилно Име: &nbsp;</label>{{selectedUser.lastName}}
        </div>
        <div class="form-group">
            <label class="control-label">Описание: &nbsp;</label>{{selectedUser.description}}
        </div>
        <div class="form-group">
            <label class="control-label">Телефон: &nbsp;</label>{{selectedUser.phoneNumber}}
        </div>
        <div class="form-group">
            <label class="control-label">Държава: &nbsp;</label>{{selectedUser.dwellingCountry}}
        </div>
        <div class="form-group">
            <label class="control-label">Град: &nbsp;</label>{{selectedUser.city}}
        </div>
        <div class="form-group">
            <label class="control-label">Университет: &nbsp;</label>{{selectedUser.universityGraduated}}
        </div>
        <div class="form-group">
            <label class="control-label">Професия: &nbsp;</label>{{selectedUser.profession}}
        </div>
        <div class="form-group">
            <label class="control-label">Компания: &nbsp;</label>{{selectedUser.company}}
        </div>
    </div>
    <div class="col-sm-2">
        <div ng-if="selectedUser.hasPicture" class="form-group">
            <img src="api/file/download?username={{selectedUser.userName}}" />
        </div>
    </div>
</div>
<div class="row">
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Затвори</button>
    </div>
</div>

