<div id="footer">
    <div class="form-group">
        <div class="col-sm-12">
            <address><label class="control-label">&#169;</label><a href="mailto:ivo@pashov.net?Subject=SMG%20Alumni"> Ивайло Пашов</a><label class="control-label"> - випуск 2005г. (Г клас)</label></address>
            <label>Сайтът е open-source и може да бъде намерен <a href="https://github.com/ivopashov/smgalumni">тук</a></label>
        </div>
    </div>
</div>
