<header ng-controller="headerController">
    <div class="row">
        <div ng-if="isLoggedIn()" class="col-sm-4 col-xs-12 pull-right text-right">
            <div class="login-bar">
                <span class="xs-pull-left">
                    <span ng-show="username">Здравей,</span>
                    <a ui-sref="account">{{username}}&nbsp;/</a>
                    <a ui-sref="homeauth">Начало</a>
                </span>
                <br class="hidden-xs" />
                <a ng-show="username" ng-click="logout()" class="logout-link xs-pull-right">Изход</a>
            </div>
        </div>
        <div ng-if="!isLoggedIn()" class="col-sm-4 col-xs-12 pull-right text-right">
            <div class="login-bar">
                <span class="xs-pull-left">
                    <a ui-sref="forgotpassword">Забравена Парола</a>
                </span>
            </div>
        </div>
    </div>
</header>