<div id="header-wrap" ng-controller="headerController">
    <img src="~/Content/images/smg-panorama.png" />
    @*<div class="login">
        <div ng-if="isLoggedIn()" class="col-sm-4 col-xs-12 pull-right text-right">
            <div class="login-bar">
                <span class="xs-pull-left">
                    <span ng-show="username">Здравей,</span>
                    <a ui-sref="account">{{username}}&nbsp;/</a>
                    <a ng-show="username" ng-click="logout()" class="logout-link xs-pull-right" style="cursor: pointer">Изход</a>
                </span>
            </div>
        </div>
        <div ng-if="!isLoggedIn()" class="col-sm-4 col-xs-12 pull-right text-right">
            <div>
                <span class="xs-pull-left">
                    <a ui-sref="forgotpassword">Забравена Парола</a>
                </span>
            </div>
        </div>
    </div>*@
</div>