<div class="row">
    <h2>Did you forget your password?</h2>
    <p>If you have forgotten your password, enter your email below and instructions on how to reset your password will be sent to you via email.</p>
    <form class="form-horizontal col-sm-12" novalidate name="forgotPasswordForm">
        <div class="form-group col-xs-12 col-sm-6 col-md-8" ng-class="{'has-error': submitted && forgotPasswordForm.email.$invalid}">
            <div class="input-group input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input id="email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="email" ng-model="email"
                       class="form-control" ng-required="true" placeholder="Email address" autofocus />
            </div>
            <span ng-if="submitted && forgotPasswordForm.email.$error.required">Email is required!</span>
            <span ng-if="forgotPasswordForm.email.$error.pattern"> Not valid email! </span>
        </div>
        <div class="form-group col-xs-6 col-md-4 col-md-offset-3">
            <button type="submit" ng-click="send(submitted=true)" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
